.table-striped {
    margin-top: 20px;
    margin-bottom: 20px;
}
.first_column{
    width: 200px;
}

.no-padding-left {
    padding-left: 0px !important;
}

.error_message {
    color: red;
}

.col-md-6 a:first-child {
    padding-right: 10px;
}