<h1>All Products</h1>
<form class="search-area" action="<%= products_path %>" method="get">
  <input class="search-area" type="search" name="search" id="search" value="<%= @search%>">
  <button type="submit" class="btn-success">Search</button>
</form> 
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <% @products.each do |product| %>
        <tr>
            <td class="first_column" ><%= link_to product.name, product %></td>
            <td><%= product.description %></td>
        </tr>
    <% end %>
</table>